.header {
  display: flex;
  justify-content: center;
  font-family: var(--ff-heading);
  padding: 24px;
  background-color: var(--c-primary-70);
}

.header__title {
  font-size: var(--fs-xxl);
  color: var(--c-neutral-10);
}
