.chord-data {
  align-content: center;
  background-color: var(--c-primary-30);
  border-radius: 50%;
  display: grid;
  gap: 1rem;
  justify-content: center;
  text-align: center;

  /* TODO: REVIEW TECHNIQUES TO AVOID ELLIPSE */
  width: 300px;
  height: 300px;
}

.chord-data__name {
  font-size: var(--fs-l);
  font-family: var(--ff-heading);
  font-weight: bold;
}

.chord-data__notes {
  font-family: var(--ff-body);
  font-weight: bold;
}

.chord-data__notes > :not(:last-child)::after {
  content: " - ";
}
