:root {
  /* COLORS */
  --c-primary-100: #3a004f;
  --c-primary-80: #660087;
  --c-primary-60: #b01fe3;
  --c-primary-40: #d150ff;
  --c-primary-20: #f7d9ff;
  --c-primary-10: #fdf4ff;

  --c-neutral-100: #000;
  --c-neutral-10: #fff;

  /* TYPOGRAPHY */
  /* Font Type */
  --ff-heading: Verdana, Arial, sans-serif;
  --ff-body: Verdana, Arial, sans-serif;

  /* Font Size */
  --fs-xxl: 3rem;
  --fs-l: 2rem;
  --fs-m: 1rem;
  --fs-s: 0.75rem;

  /* SHADOWS */
  --sh-card: 3px 3px 8px 0 rgba(0, 0, 0, 0.25);
}
